* {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  box-sizing: border-box;
  background-color: white;
  border-inline-style: solid;
  border-inline-width: 50px;
  margin: 0;
}

.header-top {
  background-color: #16404D;
  color: white;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

.para {
  font-family: "Dokdo", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
}

a .para {
  color: #16404D;
}

.head {
  margin: 40px;
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
}

.nav-bar a {
  text-decoration: none;
  color: black;
  padding: 0 15px;
}

.nav-bar {
  background-color: rgb(226, 246, 252);
  margin: 15px;
  border: 2px;
  border-radius: 15px;
  padding: 5px;
  font-weight: bold;
}

.nav-click a {
  font-family: "Dokdo", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #16404D;
  text-decoration: underline #16404D;
}

.head button {
  background-color: rgb(226, 246, 252);
  border: 2px;
  border-radius: 20px;
  padding: 15px;
  margin: 15px;
}

.container-1 {
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 8%;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: auto;
}

.con-head h2 {
  color: #16404D;
  font-weight: 500;
  font-size: 3rem;
}

.con-content {
  font-weight: 500;
  font-size: 1.5rem;
  padding-left: 70px;
}

.con-content button {
  background-color: #16404D;
  color: white;
  font-size: 1rem;
  border: 2px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
}

.image-bg img {
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 20px;
  width: 85%;
}

.image-content {
  display: flex;
  justify-content: space-evenly;
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgb(226, 246, 252);
  border: 2px;
  border-radius: 30px;
  padding: 20px;
  position: relative;
  bottom: 50px;
}

.image-content p {
  font-size: 1rem;
  font-weight: bold;
  color: #3a3939;
}

.image-content h5 {
  font-weight: bold;
}

.search img {
  background-color: #16404D;
  padding: 10px;
  border: 2px;
  border-radius: 20px;
}

.links {
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 20px;
}

.nav-links {
  display: flex;
  justify-content: flex-start;
}

.nav-links h6 {
  padding: 0 10px;
}

.active {
  color: #16404D;
  text-decoration: underline;
  font-weight: bold;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.places {
  display: flex;
  flex-wrap: none;
}

.image-box {
  margin: 10px;
  text-align: center;
}

.image-box img {
  border: 2px;
  border-radius: 5px;
}

.image-box button {
  background-color: #FFFFFF;
  border: 2px;
  border-radius: 15px;
  padding: 5px;
  color: #16404D;
  font-weight: bold;
  position: relative;
  bottom: 40px;
}

.place {
  display: flex;
  flex-wrap: none;
  margin-top: 30px;
  margin-left: 8%;
  margin-right: 8%;
}

.package {
  margin: 10px;
  border: 2px;
  border-radius: 20px;
  box-shadow: 0 3px 5px 0;
  padding: 10px;
  font-size: 1.3rem;
  font-weight: 500;
}

.package a {
  text-decoration: none;
  color: black;
}

.package button {
  background-color: #FFFFFF;
  color: #16404D;
  border: 2px;
  border-radius: 15px;
  position: relative;
  top: 50px;
  left: 10px;
  font-weight: bold;
  font-size: large;
}

.package h5 {
  font-weight: bold;
}

.package h4 {
  font-weight: bold;
}

.rating {
  display: flex;
  justify-content: space-between;
}

.loc-image {
  background-color: #16404D;
  padding: 20px;
  border-radius: 15px;
}

.place-image {
  margin: 10px;
  text-align: center;
}

.place-image h6 {
  font-weight: bold;
  color: white;
  position: relative;
  bottom: 120px;
}

.place-image button {
  position: relative;
  bottom: 120px;
}

.button-1 {
  background-color: greenyellow;
  padding: 8px;
  border: 2px greenyellow;
  border-radius: 20px;
}

.button-2 {
  background-color: grey;
  padding: 8px;
  border: 2px grey;
  border-radius: 20px;
}

.button-3 {
  background-color: rgb(82, 230, 29);
  padding: 8px;
  border: 2px rgb(82, 230, 29);
  border-radius: 20px;
}

.button-4 {
  background-color: orange;
  padding: 8px;
  border: 2px orange;
  border-radius: 20px;
}

.button-5 {
  background-color: red;
  padding: 8px;
  border: 2px red;
  border-radius: 20px;
}

.tour-head h2 {
  color: #16404D;
  font-weight: 500;
  font-size: 3rem;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 8%;
}

.guide {
  background-color: #16404D;
  margin: 5px;
  padding: 15px;
  color: white;
  text-align: center;
  border: 2px;
  border-radius: 20px;
}

.tour-guide {
  display: flex;
  justify-content: space-around;
  padding-left: 40px;
  padding-top: 20px;
}

.guide-2 {
  position: relative;
  right: 15px;
}

.guide-3 {
  position: relative;
  right: 35px;
}

.guide-4 {
  position: relative;
  right: 45px;
}

.guide-5 {
  position: relative;
  right: 55px;
}

.containers {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: auto;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 8%;
}

.container-head h2 {
  color: #16404D;
  font-weight: 600;
  font-size: 3rem;
}

.container-head p {
  font-weight: 600;
  font-size: 2rem;
}

.container-content p {
  font-weight: 500;
  font-size: 1.5rem;
  padding-left: 70px;
}

.container-content h2 {
  color: #16404D;
  font-size: 2.5rem;
}

.container-content h4 {
  color: #16404D;
  font-weight: bold;
}

.container-content h6 {
  font-size: 2.2rem;
  font-weight: bold;
}

.container-content h6 img {
  background-color: #16404D;
  padding: 15px;
  border-radius: 15px;
}

.container-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 8%;
}

.card-icon {
  margin: 30px;
}

.card-icon img {
  margin-left: 30%;
}

.card-icon p {
  color: #16404D;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

footer {
  background-image: url(/images/footerbg.png );
}

.footer {
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 8%;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 250px;
  padding-bottom: 50px;
}

.footer a {
  text-decoration: none;
  color: white;
}

.contacts {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: auto;
}

.contact-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 200px;
}

.adventurage h2 a {
  font-family: "Dokdo", system-ui;
  font-style: normal;
  font-size: 2.5rem;
  padding-left: 30px;
}

@media (max-width:950px) {
  body {
    background-color: #FFFFFF;
    border-inline-style: none;
    border-inline-width: none;
  }
}

@media (max-width:767px) {
  body {
    background-color: #FFFFFF;
    border-inline-style: none;
    border-inline-width: none;
  }
}

@media (max-width:950px) {
  .container-1 {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-template-rows: auto;
  }

  .con-content {
    font-weight: 500;
    font-size: 1.5rem;
    padding-left: 10px;
  }
}

@media (max-width:767px) {
  .container-1 {
    margin-left: 4%;
    margin-right: 4%;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-template-rows: auto;
  }

  .con-content {
    font-weight: 500;
    font-size: 1.2rem;
    padding-left: 10px;
  }

}

@media (max-width:950px) {
  .image-content {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }

  .image-content p {
    font-weight: bold;
  }

  .image-content h5 {
    font-weight: bold;
  }
}

@media (max-width:767px) {
  .image-content {
    display: grid;
    grid-template-columns: repeat(1, 4fr);
    position: relative;
    bottom: 20px;
  }

  .image-content p {
    font-weight: small;
  }

  .image-content h5 {
    font-weight: small;
  }
}

@media (max-width:950px) {
  .places {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width:767px) {
  .places {
    display: flex;
    flex-wrap: wrap;
  }
}


@media (max-width:950px) {
  .place {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width:950px) {
  .containers {
    display: grid;
    grid-template-columns: repeat(1, 4fr);
    grid-template-rows: auto;
  }
}

@media (max-width:767px) {
  .container-head p {
    font-size: 1.5rem;
  }
}

@media (max-width:950px) {
  .container-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}

@media (max-width:767px) {
  .container-2 {
    display: grid;
    grid-template-columns: repeat(1, 4fr);
    grid-template-rows: auto;
  }

  .card-icon img {
    margin-left: 40%;
  }
}

@media (max-width:950px) {
  .contacts {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-template-rows: auto;
  }

  .contact-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 2px;
  }
}

@media (max-width:767px) {
  .footer {
    padding-top: 150px;
  }
}