* {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    box-sizing: border-box;
    background-color: white;
    border-inline-style: solid;
    border-inline-width: 50px;
    margin: 0;
}

.header-top {
    background-color: #16404D;
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.para {
    font-family: "Dokdo", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
}

a .para {
    color: #16404D;
}

.head {
    margin: 40px;
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
}

.nav-bar a {
    text-decoration: none;
    color: black;
    padding: 0 15px;
}

.nav-bar {
    background-color: rgb(226, 246, 252);
    margin: 15px;
    border: 2px;
    border-radius: 15px;
    padding: 5px;
    font-weight: bold;
}

.nav-click a {
    color: #16404D;
    text-decoration: underline #16404D;
    font-family: "Dokdo", system-ui;
    font-weight: 400;
    font-style: normal;
}

.head button {
    background-color: rgb(226, 246, 252);
    border: 2px;
    border-radius: 20px;
    padding: 15px;
    margin: 15px;
}

.login-head a {
    text-decoration: none;
    color: #16404d;
    font-family: "Dokdo", system-ui;
    font-weight: 400;
    font-size: 4rem;
    font-style: normal;
}

.login {
    margin-left: 25%;
    margin-right: 25%;
}

.login-head {
    text-align: center;
}

.login a {
    text-decoration: none;
    color: black;
}

.login h2 {
    font-weight: bold;
}

.login h4 {
    border: 2px solid #5f757b;
    border-radius: 3px;
    padding: 10px;
}

.login button {
    width: 100%;
    background-color: #225767;
    color: white;
    border: #16404D;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    font-size: 2rem;
}
.login button a{
    text-decoration: none;
    color: white;
}
footer {
    background-image: url(/images/footerbg.png);
}

.footer {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 8%;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 250px;
    padding-bottom: 50px;
}

.footer a {
    text-decoration: none;
    color: white;
}

.contacts {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: auto;
}

.contact-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 200px;
}

.adventurage h2 a {
    font-family: "Dokdo", system-ui;
    font-style: normal;
    font-size: 2.5rem;
    padding-left: 30px;
}

@media (max-width:950px) {
    body {
        background-color: #FFFFFF;
        border-inline-style: none;
        border-inline-width: none;
    }
}

@media (max-width:767px) {
    body {
        background-color: #FFFFFF;
        border-inline-style: none;
        border-inline-width: none;
    }
}


@media (max-width:950px) {
    .login {
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media (max-width:767px) {
    .login {
        margin-left: 20%;
        margin-right: 20%;
    }
}
@media (max-width:950px) {
    .login h2 {
    font-weight: 800;
}

.login h4 {
   font-size: large;
    padding: 10px;
}
.login button {
    font-weight: bold;
    font-size: 1.5rem;
}
}

@media (max-width:767px) {
    .login h2 {
    font-weight: 600;
}

.login h4 {
   font-size: medium;
    padding: 10px;
}
    .login button {
    font-weight: 500;
    font-size: 1rem;
}
}


@media (max-width:950px) {
    .contacts {
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        grid-template-rows: auto;
    }

    .contact-links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 2px;
    }
}

@media (max-width:767px) {
    .footer {
        padding-top: 150px;
    }
}